.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.video {
  padding: 20px;
}

.progressBar {
  height: 50px;
  width: 100%;
  background-color: lightgray;
}

.progress {
  height: 50px;
  background-color:lightcoral;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  width: 50%;
}

